* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #333448;
  font-family: "Scada", sans-serif;
  height: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
/* navigation bar part */
.nav {
  grid-column: 1/4;
  background: url(./resources/Neck\ Tape\ 2.jpg) center;
  background-size: contain;
  min-height: 5.5vh;
  max-width: 100vw;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo > img {
  max-width: 6vh;
  min-width: none;
  margin-left: 2rem;
}
ul {
  margin: auto 0;
}

li,
a {
  display: inline-block;
  color: white;
  list-style: none;
  text-decoration: none;
  margin-right: 2rem;
}
.shop {
  display: inline;
  padding: 0.1rem;
  border: 3px solid white;
  transition: 250ms linear;
}
.shop:hover {
  color: #e96320;
  box-shadow: inset 6.5em 0 0 0 white;
}
.explore {
  position: relative;
}
.explore::before {
  content: "";
  position: absolute;
  top: 0;
  background: white;
  height: 2px;
  width: 100%;
  transition: 150ms linear;
}
.explore:hover::before {
  content: "EXPLORE";
  position: absolute;
  top: 0;
  background: white;
  height: 100%;
  width: 100%;
}
.explore:hover {
  color: #e96320;
}
.about {
  position: relative;
}
.about::before {
  content: "";
  position: absolute;
  top: 0;
  background: white;
  height: 2px;
  width: 100%;
  transition: 150ms linear;
}
.about:hover::before {
  content: "ABOUT";
  position: absolute;
  top: 0;
  background: white;
  height: 100%;
  width: 100%;
}
.about:hover {
  color: #e96320;
}

@media screen and (max-width: 35rem) {
  li,
  a {
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 23rem) {
  ul {
    display: none;
  }
}
