*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1a1927;
  font-family: "Aladin", cursive;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
}

header {
  background: #0a0913;
  padding: 1em 0;
}

section {
  color: #fff;
}

footer {
  background: #0a0913;
  margin-top: auto;
  padding: 1em 0;
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1400px;
  /* border: 2px solid red; */
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* nav menu start */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.brand-title {
  font-size: 1.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding-left: 1.5rem;
  font-size: 1.5rem;
}

.navbar-links li:hover {
  opacity: 0.7;
}

.toggle-button {
  position: absolute;
  top: 0.12rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* nav menu end */

/* section 1st & 2nd start */

.section__brand {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.clothing--name {
  color: #e06017;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
  margin-top: 2em;
}

.clothing--image {
  margin-bottom: 1.5em;
}

.clothing--desc {
  margin-bottom: 1.2em;
}

/* section 1st & 2nd end */

/* last section start */

.clothing--view {
  padding-bottom: 2em;
  margin-bottom: -1.5em;
  font-size: 1.125rem;
  text-transform: uppercase;
  width: 100%;
  flex-direction: row;
}

.cvback {
  text-align: center;
}

.cvfront {
  text-align: center;
}

.left {
  /* border: 2px solid red; */
  width: 50%;
}

.right {
  /* border: 2px solid yellow; */
  width: 50%;
}

/* last section end */

/* footer start */

.footer__brand {
  color: #e06017;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.clothing__link {
  color: #fff;
  font-size: 1.125rem;
}
.clothing__link a {
  color: #fff;
  text-decoration: none;
}

/* footer end */

/* ABOUT US PAGE */

.aboutus {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.aboutus--banner {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 1.5em;
}

.aboutus--brand {
  text-align: center;
  font-weight: 100;
  margin-bottom: 1em;
}

.aboutus--content {
  margin: 0 auto;
  width: 80%;
}

/* ABOUT US PAGE END */

/* CONTACT US PAGE */

.contactus {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2em;
}

.contact--info {
  margin-bottom: 1em;
}

.contact--link {
  color: #fff;
}

/* Media Queries */

/* nav bar query */

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Desktop View */

@media (min-width: 800px) {
  .row {
    flex-direction: row;
    gap: 1em;
    /* border: 2px solid red; */
  }

  .clothing--name {
    margin-bottom: 1.125em;
  }

  .left--items,
  .right--items {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }

  .contact--left {
    width: 50%;
    /* border: 2px solid red; */
  }

  .contact--right {
    width: 50%;
    /* border: 2px solid yellow; */
  }
}
