*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #333448;
  font-family: "Scada", sans-serif;
  height: 100%;
}

.wrapper {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: inline;
}
/* navigation bar part */
.nav {
  /* grid-column: 1/4; */
  /* background: #30336b; */
  background-image: url(./resources/Neck\ Tape\ 2.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center center;
  min-height: 5.5vh;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 99;
}

.logo > img {
  max-width: 6vh;
  min-width: none;
  margin-left: 2rem;
}

.container {
  display: flex;
  flex-wrap: nowrap;
}
/* menu */
ul {
  margin: auto 0;
}

li,
a {
  display: inline-block;
  color: white;
  list-style: none;
  text-decoration: none;
  margin-right: 2rem;
}
.shop {
  display: inline;
  padding: 0.1rem;
  border: 3px solid white;
  transition: 250ms linear;
}
.shop:hover {
  color: #e96320;
  box-shadow: inset 6.5em 0 0 0 white;
}
.explore {
  position: relative;
}
.explore::before {
  content: "";
  position: absolute;
  top: 0;
  background: white;
  height: 2px;
  width: 100%;
  transition: 150ms linear;
}
.explore:hover::before {
  content: "EXPLORE";
  position: absolute;
  top: 0;
  background: white;
  height: 100%;
  width: 100%;
}
.explore:hover {
  color: #e96320;
}
.about {
  position: relative;
}
.about::before {
  content: "";
  position: absolute;
  top: 0;
  background: white;
  height: 2px;
  width: 100%;
  transition: 150ms linear;
}
.about:hover::before {
  content: "ABOUT";
  position: absolute;
  top: 0;
  background: white;
  height: 100%;
  width: 100%;
}
.about:hover {
  color: #e96320;
}
/* menu end */

/* content */
.content {
  background: #333448;
  opacity: 0.7;
  /* width: 100%; */
}
.article {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.line {
  background: #e96320;
  height: 5px;
  width: 100%;
  margin-top: 1rem;
  margin-right: 2rem;
  display: flex;
}
.word {
  margin-bottom: -1rem;
  color: #e96320;
  -webkit-text-stroke: 2px white;
}
.brnd {
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  margin-top: 2rem;
  color: white;
  outline: 2px solid white;
  outline-offset: 0.2rem;
  display: table;
  font-size: 3rem;
  text-align: center;
}
h2 {
  color: white;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.article > a {
  font-size: 1.5rem;
  padding: 0.1rem;
  outline: 3px solid white;
  width: 30%;
  transition: 250ms linear;
  text-align: center;
}
.article > a:hover {
  color: #e96320;
  box-shadow: inset 6.5em 0 0 0 white;
}
/* content end */

/* branding image */
.branding {
  height: 93.4vh;
  width: 100%;
  /* border: 2px solid red; */
}
.pic {
  /* margin-top: -2rem; */
  height: 100%;
  background-image: url(./resources/Mens\ Plague.jpg),
    url(./resources/Womens\ plague.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right, center top;
  /* padding: 1rem; */
}

@media screen and (max-width: 35rem) {
  li,
  a {
    margin-right: 0.5rem;
  }
}
@media screen and (max-width: 23rem) {
  ul {
    /* display: none; */
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 20rem) {
  ul {
    display: none;
  }
}
